 body {
    background-color:#ffffff;
    color:#ffffff;
    background-image: linear-gradient(180deg, #386774 15%, #9cfd00bb 30%, #000000 70%);
    font-size: 20px;
    text-align:center;
    background-image: url('foto/ostatni foto/JMK.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    
 }
 h1 {
    color:#000000;
    font-family: Impact, sans-serif;
    font-size: 150px;
    text-shadow: #ffffff 0px 0px 20px;
    padding-top: 200px;
    padding-bottom: 350px;
 }
 h2 {
    font-size: 50px;
 }






/* Navbar Styling */
#navbar {
   background-color: #333;
   text-align: center;
   width:10%;
   position:fixed;
}

#navbar ul {
   list-style-type: none;
   padding: 0;
}

#navbar li {
   display: inline;
   margin: 0 15px;
}

#navbar a {
   color: white;
   text-decoration: none;
}

/* Main Content Area */
main {
   padding: 20px;
}

/* Article Styling */
article h1 {
   color: #333;
   font-size: 2em;
}

article p {
   font-size: 1.2em;
   color: #666;
}

/* Footer Styling */
footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px;
   position: relative;
   bottom: 0;
   width: 100%;
}

footer a {
   color: white;
   text-decoration: none;
}