/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #848484;
    color: #000000;
}



/* Navigation Styling */
nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Main Content Styling */
main {
    margin-bottom: 20px;
    width: 100%
}

area {
    pointer-events: auto;
}

.break-lines {
    white-space: pre-line;
}

/* grid layout*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
    box-sizing: border-box
  }
  
  .grid-container > div {
    background-color: #bd6f6f;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .item2 {  
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .item4 { 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;

  }
  p.item4{
    text-align: left;
  }